 :root{
    --primary-color:black;
    --seconday-color: #727272;
    --special-color: #FF900E;
 }

/* Utility Classes  */

.secondary-fonts {
    font-weight: 400;
    font-size: 16px;
    color: var(--seconday-color);
}

.btn{
    font-weight: 600;
    color: #FFFFFF;
    background-color: var(--special-color);
    border: none;
    padding: 12px 16px;
    border-radius: 8px;
    margin-top: 32px;
}