

@media only screen and (min-width: 300px) and (max-width:500px) { 

    *{
        box-sizing: border-box;
    }

    main {
        max-width: 100vw;
    }

    #navbar{
        margin: 0px;
        padding: 20px;
        flex-direction: column;
        /* position: fixed; */
        background-color: rgba(205, 66, 255, 0.106);
    }


    /*===================== Style Brand Area  ====================*/

.brand-container {
    padding-top: 60px;
}

#brand-description {
    Width: 100vw;
}

#brand-description h1 {
    font-size: 30px;
    margin-bottom: 15px;
}


/*====================== Banner Image Section  =====================*/

.banner-img {
    margin-bottom: 100px;
    margin-top: 80px;
}

img {
    margin-left: 4%;
    width: 335px;
    height: 241px;
}

/*=================== Style Features Section  =======================*/

#features-section {
    margin-bottom: 100px;
}


.features {
    flex-direction: column;
    gap: 60px;
}

.features-img {
    /* order: 2; */
    grid-template-columns: repeat(1, 1fr);
}

.features-img img {
    margin: 0 auto;
    width: 300px;
    height: 270px;
}











}












.medicine{
    display: none;
}